@keyframes spinAnimation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.spinner-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loading-circle {
    width: 50px;
    height: 50px;
    border: 4px solid #005abb;
    border-top-color: transparent;
    border-radius: 50%;
    animation: spinAnimation 0.82s linear infinite;
}