.header {
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
}

@media screen and (max-width: 425px) {
    .header {
        font-size: 30px;
    }
}

.container {
    width: 90%;
    padding-right: 1rem !important;
    padding-left: 1rem !important;
    margin-right: auto;
    margin-left: auto;
}

.card {
    margin-top: 10px;
    margin-bottom: 50px;
}